# Environment
.env
.env.*
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Database
*.db

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Reports
reports/*
!reports/.gitkeep

# Cache
.pytest_cache/
.mypy_cache/

# Jupyter
.ipynb_checkpoints/

# Build
build/
dist/
*.egg-info/