fastapi==0.139.0
uvicorn==0.50.2

sqlalchemy==2.0.51
psycopg[binary]==3.3.4

pydantic==2.13.4
python-dotenv==1.2.2
python-multipart==0.0.32
email-validator==2.3.0

numpy==2.2.6
matplotlib==3.10.5

opencv-python==4.12.0.88

pymupdf==1.28.0
pdfplumber==0.11.9

reportlab==4.4.4

google-generativeai==0.8.6

SpeechRecognition==3.16.1

requests==2.32.5
Pillow==11.3.0